{% extends "publisher/base/base.html" %}
{% block content %}
<h1 class="page-header">管理后台
                <small>书籍管理</small>
            </h1>
            <!-- 面板开始 -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">修改书籍信息</h3>
                </div>
                <div class="panel-body">
                    <!-- Form -->
                    <form class="form-inline" action="/edit_book/" method="post">
                        <div class="form-group hidden">
                            <label for="exampleInputName1">书籍ID</label>
                            <input type="text" class="form-control" id="exampleInputName1" name="book_id" value="{{ book.id }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">书籍名称</label>
                            <input type="text" class="form-control" id="exampleInputName2" name="book_name" value="{{ book.name }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName3">出版日期</label>
                            <input type="date" class="form-control" id="exampleInputName3" name="book_date" value="{{ book.date|date:"Y-m-d" }}">
                        </div>
                        <div class="form-group">
                            <label for="class_id_info">出版社名称</label>
                            <select name="publisher_id" class="form-control" id="class_id_info">
                            {% for publisher in publisher_list %}
                                {% if book.publisher_id == publisher.id %}
                                    <option selected value="{{ publisher.id }}">{{ publisher.name }}</option>
                                {% else %}
                                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">提交</button>
                    </form>
                </div>
                <!-- 面板body结束 -->
            </div>
            <!-- 面板整体结束 -->
{% endblock %}
{% block book %}
active
{% endblock %}