{% extends "school/base/base.html" %}
{% block content %}
    <h1 class="page-header">管理后台
        <small>班级管理</small>
    </h1>
    <!-- 面板开始 -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome!</h3>
        </div>
        <div class="panel-body">
            <div class="row my-table-toolbar">
                <div class="col-xs-6 col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <div class="col-xs-6 col-md-4 pull-right">
                    <button id="add_btn" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal"
                            disabled>添加
                    </button>
                    <a class="btn btn-info pull-right" id="btn_add_css" href="{% url "sc:add_class" %}">添加</a>
                </div>
            </div>
            <!-- Table -->
            <table class="table table-striped table-bordered" id="table_panel_main">
                <thead>
                <tr>
                    <th>#</th>
                    <th>数据库里的ID</th>
                    <th>班级名称</th>
                    <th>地点</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for class in class_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ class.id }}</td>
                        <td>{{ class.name }}</td>
                        <td>{{ class.addr }}</td>
                        <td>
                            <a class="del_btn delete" href="#">删除</a>
                            <a href="{% url "sc:edit_class" %}?id={{ class.id }}">编辑</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pull-right">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{ page_html|safe }}
                    </ul>
                </nav>
            </div>
        </div>
        <!-- 面板body结束 -->
    </div>
    <!-- 面板整体结束 -->
{% endblock %}
{% block class %}
    active
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $(".delete").on("click", function () {
                var delete_this = $(this);
                swal({
                    title: "你确定要删除吗？",
                    text: "删除可就找不回来了哦！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "删除",
                    cancelButtonText: "取消",
                    closeOnConfirm: false
                }, function () {
                    var deleteId = delete_this.parent().prev().prev().prev().text();
                    $.ajax({
                        url: "/school/delete_class/",
                        type: "post",
                        data: {"id": deleteId},
                        success: function (data) {
                            if (data == '1') {
                                window.location.href = ''
                            } else {
                                swal("删除失败", "你可以再尝试一下！", "error")
                            }
                        }
                    })
                })

            })
        })
    </script>
{% endblock %}